.v-center
{  
   min-height: 100%;
   display: flex;
   align-items: center;
}

form
{
	background-color: green;
	padding: 40px;
	border-radius: 15px;
}

h3
{
	color: red;
}

.btn-block
{
	width: 50%;
	display: inline-block;
}